body{
   background-color: pink;
   text-align: center
}

h1{
   color: purple; 
   font-family:dancing-script;
   font-size:48px;
   text-align:center
}

h2{
   font-family:Architects-daughter;
   color:purple;
   font-size:28px;
      text-align:center
}

h3{
   font-family:Pacifico;
   font-size:28px;
   color:purple;
   text-align:center
}

p{
   font-family: Georgia;
   font-size: 20px;
   color: purple
      
}
